*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
}

nav{
    display: flex;
    margin: 2em 3em;
    justify-content: end;
}

.clearFav{
    background-color: #f3cba3;
    border-radius: 10px;
    padding: 10px;
    border: none;
}

.clearFav:hover{
    cursor: pointer;
    background-color: #e7b685;
    width: 105px;
    height: 40px;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote{
    background-color: #f3cba3;
    padding: 1em;
    padding-bottom: 0.5em;
    margin: 1em;
    border-radius: 15px;
    text-align: center;
    width: fit-content;
    min-width: 30%;
    max-width: 60%;
}

.txt{
    padding: 0.2em 0;
}

.content{
    font-style: italic;
}

.author{
    text-align: right;
    margin-right: 0.2em;
}

.fa-star{
    width:35px ;
    height:33px ;
}

.fa-star:hover{
    cursor:pointer;
}

.quote:has(.fa-star:hover){
    transform: scale(1.05);
    background-color: #e7b685;
}